.faq-que-list {
    .accordion-item:first-of-type>.accordion-header .accordion-button {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    .accordion-item:last-of-type>.accordion-header .accordion-button.collapsed {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }

    .accordion-item {
        border: 1px solid $heding;
        border-radius: 10px;
        background-color: transparent;
        margin-bottom: 25px;

        button:focus,
        input:focus,
        input:focus,
        textarea,
        textarea:focus {
            outline: 0;
        }

        .accordion-button {
            transition: unset;
            color: $heding;
            font-size: 30px;
            font-family: $generalSansMedium;
            font-weight: 500;
            line-height: 1.875rem;
            border: 0;
            box-shadow: none;
            background: transparent;
            border-radius: 0;
            padding: 0;
            padding: 26px 0 20px 20px;
            position: relative;
            box-shadow: 0;
            -webkit-transition: unset;
            -moz-transition: unset;
            -ms-transition: unset;
            -o-transition: unset;
            word-wrap: normal;
            display: inline-block;

            &.collapsed {
                padding-bottom: 24px;
                background: transparent;
                border: 0;
            }

            @media #{$lg} {
                padding: 21px 20px;
                font-size: 20px;
            }

            @media #{$md} {
                padding: 21px 20px;
                font-size: 18px;
            }

            @media #{$xs} {
                padding: 21px 10px;
                font-size: 18px;
            }

            // &:not(.collapsed) {
            //     color: $white;
            //     background-color: unset;
            //     box-shadow: unset;
            // }
            &:focus {
                box-shadow: none;
                outline: 0;
            }

            &::before {
                content: "\F2EA";
                position: absolute;
                font-family: "bootstrap-icons";
                font-size: 25px;
                font-weight: 300;
                color: $heding;
                right: 30px;
                top: 50%;
                transform: translateY(-50%) rotate(180deg);
                transition: 0.3s linear;
                z-index: 1;

                @media #{$md} {
                    right: 10px;
                    font-size: 16px;
                }

                @media #{$xs} {
                    color: $heding;
                    right: 5px;
                    font-size: 16px;
                    width: unset;
                    height: unset;
                    background: transparent;
                }
            }

            &::after {
                display: none;
            }
        }

        .collapsed {
            border: 0;

            &::before {
                content: "\F4FE";
                color: $heding;
                transform: translateY(-50%) rotate(0deg);

                @media #{$xs} {
                    color: $heding;
                    right: 5px;
                    font-size: 16px;
                    width: unset;
                    height: unset;
                    background: transparent;
                }
            }
        }

        .accordion-body {
            padding-top: 0;

            p {
                font-size: 16px;
                color: $body-text-color;
            }
        }
    }

    &.style-two {
        .accordion-item {
            margin-bottom: 0;

            .accordion-button {
                padding: 30px 0 0px 20px;
                border: 0;

                span {
                    color: #fff;
                    font-size: 20px;
                    display: inline-block;
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    text-align: center;
                    line-height: 53px;
                    background: $theme-color;
                    margin-right: 5px;
                }

                &.collapsed {
                    background: transparent;
                    padding-top: 0;
                    margin-bottom: 20px;

                    span {
                        color: $theme-color;
                        background: rgba($color: $theme-color, $alpha: 0.1);
                    }
                }

                &:focus {
                    box-shadow: none;
                    outline: 0;
                }

                &::before {
                    display: none;
                }

                &::after {
                    display: none;
                }
            }

            .collapsed {
                border: 0;

                &::before {
                    display: none;
                }
            }

            .accordion-body {
                background: rgba($color: $heding, $alpha: 0.03);
                padding-left: 78px;
                padding-top: 13px;
                margin-bottom: 20px;
                border: 0;
            }
        }
    }
}