//feedback-wrapper-one
.feedback-section-2 {
    padding-left: 85px;
    padding-right: 85px;

    @media #{$max-xl} {
        padding-left: 0;
        padding-right: 0;
    }
}

.feedback-section-3 {
    background: #F0EFFF;
}

.feedback-custom-cotainer {
    max-width: 1545px;
}

.feedback-wrap-1 {
    background: $white;
    border-radius: 15px;
    border-style: solid;
    border-width: 1px 5px 5px 1px;
    border-color: $black;
    padding: 45px 43px 41px 45px;
    margin-bottom: 40px;

    .divider-line {
        width: 100%;
        height: 1px;
        background: $black;
        margin-bottom: 30px;
    }

    .author-avatar {
        margin-right: 15px;

        img {
            border-radius: 50%;
            display: inline-block;
            border: 4px solid $hr-border-color;
        }
    }

    .name {
        color: $heding;
        font-size: 18px;
        font-weight: 600;
        font-family: $generalSansSemiBold;
        margin-bottom: 0;
    }

    .designation {
        color: rgba(0, 0, 0, 0.6);
        font-size: 16px;
        margin-bottom: 0;
    }

    .feedback-text {
        font-size: 28px;
        font-weight: 500;
        font-family: $generalSansMedium;
        line-height: 1.65;
        margin-bottom: 58px;
    }


    .rating {
        a {
            color: $theme-color;
            font-size: 25px;
            margin: 0 4px;
        }
    }

    @media #{$max-laptop} {
        padding-left: 15px;
        padding-right: 15px;

        .feedback-text {
            font-size: 20px;
        }

        .rating {
            a {
                font-size: 20px;
            }
        }
    }

}

.feedback-wrap-2 {
    display: flex;
    position: relative;
    z-index: 1;
    background: $grey;
    border-radius: 20px;
    padding: 30px;
    margin-bottom: 50px;

    .author-avatar {
        margin-right: 30px;

        img {
            border-radius: 20px;
        }
    }

    .feedback-text {
        color: $body-text-color;
        font-size: 24px;
        font-weight: 500;
        font-family: $generalSansMedium;
        line-height: 1.4;
    }

    .rating {
        margin-bottom: 30px;

        a {
            color: $heding;
            font-size: 18px;
            margin-right: 8px;
            display: inline-block;
        }
    }

    .signature-shape {
        position: absolute;
        right: 58px;
        bottom: 47px;
        z-index: -1;
    }

    .name {
        color: $heding;
        font-weight: 600;
        font-family: $manrope;
        margin-bottom: 3px;
    }

    .designation {
        color: rgba(0, 0, 0, 0.6);
        font-size: 16px;
        font-weight: 400;
        font-family: $manrope;
    }

    .feedback-content {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    @media #{$max-laptop} {
        padding-left: 15px;
        padding-right: 15px;

        .author-avatar {
            margin-right: 10px;
        }

        .feedback-text {
            font-size: 20px;
        }

        .signature-shape {
            display: none;
        }
    }

    @media #{$max-lg} {
        text-align: center;
        display: block;

        .author-avatar {
            margin-right: 0;
            margin-bottom: 30px;
        }
    }

}

.author-avatar {

    .bg-shape {
        position: absolute;
        z-index: -1;
        bottom: 0;
    }

    .author-main-img {
        max-width: 100%;
        display: inline-block;
    }

    .author-rating {
        width: max-content;
        position: absolute;
        bottom: 63px;
        background: $white;
        border-radius: 15px;
        text-align: center;
        padding: 30px 34px 26px 34px;
        left: 0;
        right: 0;
        margin: 0 auto;

        .number {
            color: $heding;
            font-size: 60px;
            font-family: $manrope;
            line-height: 1;
            margin-bottom: 2px;
        }

        .rating-title {
            font-size: 24px;
            font-weight: 400;
            font-family: $manrope;
        }
    }

    @media #{$max-laptop} {
        .bg-shape {
            width: 100%;
        }
    }
}

.author-avatar-2 {

    .bg-shape {
        position: absolute;
        z-index: -1;
        bottom: 0;
    }

    .author-main-img {
        max-width: 100%;
        display: inline-block;
    }

    .author-rating {
        width: max-content;
        position: absolute;
        bottom: 63px;
        background: $white;
        border-radius: 15px;
        text-align: center;
        padding: 30px 34px 26px 34px;
        background: $white;
        box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.07);
        left: 0;


        .number {
            color: $heding;
            font-size: 60px;
            font-family: $manrope;
            line-height: 1;
            margin-bottom: 2px;
        }

        .rating-title {
            font-size: 24px;
            font-weight: 400;
            font-family: $manrope;
        }
    }

    @media #{$max-laptop} {
        .bg-shape {
            width: 100%;
        }
    }
}

.feedback-wrap-3 {
    background: $white;
    border-radius: 50px;
    padding: 40px 45px 41px 45px;
    margin-bottom: 40px;

    .name {
        color: $heding;
        font-size: 20px;
        font-weight: 600;
        font-family: $manrope;
        margin-bottom: 6px;
        margin-top: 13px;
    }

    .designation {
        color: rgba(0, 0, 0, 0.6);
        font-size: 18px;
        font-family: $manrope;
        font-weight: 400;
        margin-bottom: 0;
    }

    .feedback-text {
        font-size: 36px;
        font-weight: 600;
        font-family: $manrope;
        line-height: 1.7;
        margin-bottom: 58px;
        margin-top: 54px;
    }


    .rating {
        a {
            color: $theme-color;
            font-size: 25px;
            margin: 0 4px;
        }
    }

    @media #{$max-laptop} {
        padding-left: 25px;
        padding-right: 25px;


        .feedback-text {
            font-size: 24px;
        }
    }

    @media #{$max-xs} {

        padding-left: 15px;
        padding-right: 15px;

        .feedback-text {
            font-size: 20px;
        }
    }
}

.feedback-wrap-4 {
    background: $white;
    border-radius: 30px;
    padding: 32px 40px 36px 36px;
    margin-left: 15px;
    margin-right: 15px;

    &.fb-2 {
        .icon {
            background: $theme-color2;
        }
    }

    &.fb-3 {
        .icon {
            background: $theme-color;
        }
    }

    .icon {
        width: 77px;
        height: 77px;
        border-radius: 50%;
        display: inline-block;
        text-align: center;
        line-height: 77px;
        background: $theme-color4;
        margin-bottom: 37px;

        img {
            display: inline-block;
        }
    }

    .feedback-text {
        font-size: 28px;
        font-weight: 600;
        font-family: $manrope;
        line-height: 1.5;
        margin-bottom: 87px;
    }

    .author-content {
        display: flex;
        align-items: center;
    }

    .author-avatar {
        margin-right: 20px;

        img {
            display: inline-block;
            border-radius: 50%;
        }
    }

    .name {
        font-size: 24px;
        font-family: $manrope;
        font-weight: 500;
        margin-bottom: 0;
    }

    .designation {
        color: rgba(0, 0, 0, 0.4);
        font-family: $manrope;
        font-weight: 400;
        margin-bottom: 0;
    }

    @media #{$max-xs} {
        padding-left: 15px;
        padding-right: 15px;

        .feedback-text {
            font-size: 20px;
        }

        .name {
            font-size: 20px;
        }
    }
}

.feedback-wrap-5 {
    background: $white;
    border-radius: 30px;
    padding: 54px 60px 47px 70px;
    position: relative;
    z-index: 1;

    .icon {
        display: inline-block;
        position: absolute;
        right: 60px;
        top: 59px;
    }

    .feedback-text {
        font-size: 24px;
        font-weight: 600;
        font-family: $manrope;
        line-height: 1.8;
        margin-bottom: 34px;
    }

    .author-avatar {
        display: inline-block;
        margin-bottom: 92px;

        img {
            display: inline-block;
            border-radius: 50%;
        }


        .author-country {
            position: relative;
            z-index: -1;
            left: -45px;
        }
    }

    .name {
        font-size: 18px;
        font-family: $manrope;
        font-weight: 400;
        margin-bottom: 0;
    }


    .rating {
        a {
            color: $theme-color;
            font-size: 22px;
        }
    }

    @media #{$max-laptop} {
        padding-left: 15px;
        padding-right: 15px;
    }

    @media #{$max-lg} {
        padding-left: 15px;
        padding-right: 15px;

        .feedback-text {
            font-size: 20px;
        }

        .name {
            font-size: 20px;
        }
    }
}

.feedback-wrap-6 {
    background: $white;
    border-radius: 50px;
    padding: 40px 45px 41px 45px;
    margin-bottom: 40px;

    .name {
        color: $heding;
        font-size: 20px;
        font-weight: 600;
        font-family: $manrope;
        margin-bottom: 6px;
        margin-top: 13px;
    }

    .designation {
        color: rgba(0, 0, 0, 0.6);
        font-size: 18px;
        font-family: $manrope;
        font-weight: 400;
        margin-bottom: 0;
    }

    .feedback-text {
        font-size: 36px;
        font-weight: 600;
        font-family: $manrope;
        line-height: 1.7;
        margin-bottom: 58px;
        margin-top: 54px;
    }


    .rating {
        a {
            color: $theme-color;
            font-size: 25px;
            margin: 0 4px;
        }
    }

    @media #{$max-laptop} {
        padding-left: 25px;
        padding-right: 25px;


        .feedback-text {
            font-size: 24px;
        }
    }

    @media #{$max-xs} {

        padding-left: 15px;
        padding-right: 15px;

        .feedback-text {
            font-size: 20px;
        }
    }
}

//feedback-wrapper-content
.feedback-wrapper-content {
    position: relative;

    .custom-arrow-one {
        display: inline-block;
        position: absolute;
        right: 13.4%;
        bottom: 20%;
        max-width: max-content;
        z-index: 1;

        .slick-prev,
        .slick-next,
        .prev-p4,
        .next-p4,
        .slick-arrow {
            cursor: pointer;

            &::before {
                top: -22px;
            }

            &:hover {
                &::before {
                    border-color: $theme-color;
                    background: $theme-color;
                }
            }
        }

        .prev-p1 {
            margin-right: 20px;
            justify-content: end;

            &::before {
                left: -23px;
                right: auto;
            }
        }

        .prev-p4 {
            margin-right: 20px;

            &::before {
                left: -23px;
                right: auto;
            }
        }

    }
}


//feedback-section-bg-4
.feedback-section-bg-4 {
    background: #F2F1F8;
    padding-left: 160px;
    width: 117vw;

    @media #{$max-xl} {
        padding-left: 15px;
    }

    @media #{$max-md} {
        padding-left: 0;
        width: 100vw;
    }
}

//feedback-section-bg-5
.feedback-section-bg-5 {
    background: #F3F3F3;
}

//feedback-section-bg-6
.feedback-section-bg-6 {
    background: #FDF2ED;
}