//font-weight
.fw-exbold {
    font-weight: 800 !important;
}

.fw-bold {
    font-weight: 700 !important;
}

.fw-semi {
    font-weight: 600 !important;
}

.fw-medium {
    font-weight: 500 !important;
}

.fw-normal {
    font-weight: 400 !important;
}

.fw-light {
    font-weight: 300 !important;
}

.fw-thin {
    font-weight: 100 !important;
}

//font-size

.fs-22 {
    font-size: 22px !important;
    line-height: 45px;

    @media #{$max-lg} {
        font-size: 20px !important;
        line-height: 34px;
    }

    @media #{$max-md} {
        font-size: 18px !important;
        line-height: 34px;
    }
}

.fs-20 {
    font-size: 20px !important;
}

.fs-18 {
    font-size: 18px !important;
}

.fs-16 {
    font-size: 16px !important;
}

.fs-14 {
    font-size: 14px !important;
}

.fs-12 {
    font-size: 12px !important;
}

/*--
    - Background color
-----------------------------------------*/

.grey-bg {
    background: $grey;
}

.light-grey-bg {
    background: $light-grey;
}

.white-bg {
    background: $white;
}

.black-bg {
    background: $heding !important;
}

.heding-bg {
    background: $heding !important;
}

.theme-bg {
    background: $theme-color !important;
}

.theme-bg-2 {
    background: $theme-color2 !important;
}

.theme-bg-3 {
    background: $theme-color3 !important;
}

.theme-bg-4 {
    background: $theme-color4 !important;
}

/*--
    - color
-----------------------------------------*/
.text-white {
    color: $white;
}

.text-black {
    color: $black;
}

.text-theme {
    color: $theme-color !important;
}

.text-body {
    color: $body-text-color !important;
}

.text-heding {
    color: $heding !important;
}

/*--
    - fonts
-----------------------------------------*/

.body-font {
    font-family: $manrope !important;
}

.heding-font {
    font-family: $generalSansBold !important;
}

.uppercase {
    text-transform: uppercase;
}

.capitalize {
    text-transform: capitalize;
}

.capitalize {
    text-transform: lowercase;
}

//background-none
.bg-none {
    background: none !important;
}

//before-none
.before-none {
    &::before {
        display: none !important;
    }
}

//after-none
.after-none {
    &::before {
        display: none !important;
    }
}

.border-rad {
    border-radius: 30px;
}


/*---font family----*/
.manrope {
    font-family: $manrope !important;
}

.playfair {
    font-family: $plafairDisplay !important;
}

.generalregular {
    font-family: $generalSansRegular !important;
}

.generalmedium {
    font-family: $generalSansMedium !important;
}

.generalrbold {
    font-family: $generalSansBold !important;
}