// Font Family
$generalSansLight: 'GeneralSans-Light';
$generalSansRegular: 'GeneralSans-Regular';
$generalSansMedium: 'GeneralSans-Medium';
$generalSansSemiBold: 'GeneralSans-Semibold';
$generalSansBold: 'GeneralSans-Bold';
$manrope: "Manrope", sans-serif;
$plafairDisplay: "Playfair Display", serif;

// Colors ---------------
$white: #ffffff;
$black: #000;
$grey: #F4F4F4;
$light-grey: #FCF1EC;
$theme-color: #FF7F49;
$theme-color2: #A9FB50;
$theme-color3: #F8C367;
$theme-color4: #A095FF;
$theme-color5: #3B32F6;
$title: var(--title-color);
$body-text-color: #000000;
$hr-border-color: rgb(0, 0, 0);
$yellow-color: #FFE149;


// Heading Color
$heding: #000000;

// Responsive Variables
$xxl: "only screen and (min-width: 1601px) and (max-width: 1900px)";
$xl: "only screen and (min-width: 1601px) and (max-width: 1800px)";
$laptop: "only screen and (min-width: 1200px) and (max-width: 1600px)";
$lg: "only screen and (min-width: 992px) and (max-width: 1200px)";
$md: "only screen and (min-width: 768px) and (max-width: 991px)";
$xs: "(max-width: 767px)";
$sm: "only screen and (min-width: 576px) and (max-width: 767px)";

// Responsive Variables for max-width
$max-xxl: "only screen and (max-width: 1900px)";
$max-xl: "only screen and (max-width: 1800px)";
$max-laptop: "only screen and (max-width: 1600px)";
$max-lg: "only screen and (max-width: 1200px)";
$max-md: "only screen and (max-width: 991.98px)";
$max-xs: "only screen and (max-width: 767.98px)";
$max-sm: "only screen and (min-width: 576px) and (max-width: 767.98px)";
$max-xs-s: "only screen and (max-width: 575.98px)";

//Landscape-responsive
$xs-landscape: "only screen and (min-width: 540px) and (max-width: 767px) and (orientation: landscape)";